p{
    color: blue;
    line-height: ;
    text-indent: 40px;
    text-transform: capitalize ;
    border: 10px solid black;
    font-family: "roboto"; 
    font-weight:100;
}
ul li {
    list-style-image:;
    list-style-position: outside;
    list-style-type: ;
}
section{
    font: white;
    text-align: center;
    width: 600px;
    height: 600px;
   /* background-color: red; */
    background-image: url(/Images/House.jpg);
    background-blend-mode: overlay;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 80% center;

}