body{
    background-color: rgb(222, 236, 234);
    /* height: 150vh; */
}
#Box{
    font-family: sans-serif;
    background-color: white;
    border: 1px solid;
    border-radius: 19px;
    border-color: rgb(222, 236, 234);
    height: 700px;
    width: 600px;
    text-align: center;
    position: static;
    margin-left: 35%;
    margin-top: 15%;
}
img{
    width: 600px;
    border-top-right-radius: 19px;
    border-top-left-radius: 19px;
}
#type1{
    padding-top: 10px;
    font-size: 35px;
    font-weight: bold;
}
#type2{
    font-size: 20px;
    line-height: 35px;
    color: rgb(94, 94, 165);
    font-weight: 550;
}
.container{
    border: 1 hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgb(236, 247, 247);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.container-4{
    width: 48px;
    height: 30px;
    border: 1px solid;
    border-color:   rgb(157, 169, 180);
    background-color:  rgb(157, 169, 180);
    padding-top: 5px;
    margin: 14px;
    border-radius: 49px;
}
i{
    background-color: rgb(157, 169, 180);
}
.container-5{
    color: black;
    line-height: 25px;
    font-weight: bolder;
}
.container-6{
    font-weight: bold;
    color: rgb(77, 77, 156);
    padding-top: 10px;
    margin-top: 20px;
}    